.modernui__possibility{
    display: flex;
    flex-direction: row;
}

.modernui__possibility-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.modernui__possibility-image img{
    width: 100%;
    height: 100%;
}

.modernui__possibility-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.modernui__possibility-content h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    color: #71e5ff;
}

.modernui__possibility-content h4:last-child{
    color: #ff8a71;
}

.modernui__possibility-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}
.modernui__possibility-content p{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;

    color: #81afdd;
    margin-bottom: 2rem;
}

@media screen and (max-width:950px)
{
    .modernui__possibility{
        flex-direction: column;
    }
    .modernui__possibility-image{
        margin: 1rem 0;
    }
    .modernui__possibility-content{
        margin-top: 2rem;
    }
}